<% if model.errors.any? %>
  <div class="error-messages" id="error_explanation">
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
