<footer id="footer">
  <section class="primary">
    <p class="logo"><a href="#">Wirelessearphone.com</a></p>
    <p class="address">
      〒123-4567 イヤホン県イヤホン市イヤホン 1-2-3 <br>
      TEL : 123-456-7890　/　FAX : 123-456-7890
    </p>
    <div class="navi-row">
      <ul class="navi">
        <li><a href="#">ホーム</a></li>
        <li><a href="#">選ばれる理由</a></li>
        <li><a href="#">サービス</a></li>
        <li><a href="#">制作事例</a></li>
        <li><a href="#">サイト案内</a></li>
      </ul>
      <ul class="sns-navi">
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
      </ul>
    </div>
  </section>
  <section class="secondary">
    <ul class="sitenavi">
      <li><a href="#">サイトマップ</a></li>
      <li><a href="#">プライバシーポリシー</a></li>
    </ul>
    <p class="copyright">Copyright WEBSITE,Inc. All rights reserved.</p>
  </section>
</footer>