.index-top-menu {
  display: flex;
}
.regis-item {
  margin-left: auto;
}

.items {
  padding: 20px;
  margin: 20px;
  width: 50vw;
}

.item-link {
  text-decoration: none;
  color: black;
}

.item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  height: 200px;
}

.item-image {
  width: 20%;
  margin: 20px;
  height: 80%;
  display: flex;
  align-items: center;
}

.image_photo {
  width: 100%;
  height: auto;
}

.item-info {
  width: 80%;
  margin-right: 20px;
  height: 90%;
}

.item-maker {
}

.item-name {
}

.review-info {
  display: flex;
}

// 星レビュー機能トップページ装飾

.star-rating {
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 25px;
}

.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #fc3;
}

.star-rating-back {
  color: #ccc;
}

.average-score {
  display: flex;
}

.average-score-display {
  font-size: 16px;
}

// イヤホン一覧をBootstrapで実装

.card-right-and-left {
  display: flex;
  justify-content: right;
}