.top-page-body {
  // background-color: lightgrey;
}

.items {
  // background-color: lightseagreen;
  padding: 20px;
  margin: 20px;
  width: 50vw;
}

.item-link {
  text-decoration: none;
  color: black;
}

.item {
  // background-color: lightskyblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  height: 200px;
}

.item-image {
  // background-color: lightyellow;
  width: 20%;
  margin: 20px;
  height: 80%;
  display: flex;
  align-items: center;
}

.image_photo {
  width: 100%;
  height: auto;
}

.item-info {
  // background-color: lightpink;
  width: 80%;
  margin-right: 20px;
  height: 90%;
}

.item-maker {
  // background-color: lime;
}

.item-name {
  // background-color: orange;
}

.review-info {
  // background-color: orchid;
  display: flex;
}

// 評価表示
.average-score {
  display: flex; // ★と点数を横並びにする
  justify-content: center;
}

.star-rating {
  position: relative;
  width: 5em;
  height: 1em;
  font-size: 25px;
}

.star-rating-front {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden; // 指定幅からはみ出した部分を隠す。
  white-space: nowrap; // widthが足りない時に、折り返さないようにする。
  color: #ffcc33;
  height: 25px;
}

.star-rating-back {
  color: #ccc;
}
// /評価表示

.item-price {
  // background-color: royalblue;
}

.top-page-footer {
  // background-color: lightsalmon;
}

.card-group {
  display: inline-block;
  justify-content: space-around;
}