// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image-list {
  height: 100px;
  width: 100px;
  object-fit: contain;
}

.preview-image {
  height: 100px;
  width: 100px;
  object-fit: contain;
}