.show-main {
  padding: 20px;
  margin: 20px auto;
  width: 90vw;
}

.basic-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 500px;
}

.image {
  width: 40%;
  margin: 30px;
  height: 80%;
  display: flex;
  align-items: center;
}

.photo {
  width: 100%;
}

.info-text {
  width: 60%;
  margin-right: 20px;
  height: 90%;
}

.maker {
}

.name {
}

.price {
}

.point {
  display: flex;
  justify-content: center;
}

.favorite-btn {
  text-decoration: none;
}

.table-title {
}

.table {
  margin: 0 auto;
}

td {
}

.reviews {
  display: flex;
  justify-content: space-between;
}

.review-info {
}

.show-review-text {
  width: 500px;
  height: 250px;
  border: 1px solid #ccc;
  flex-wrap: wrap;
}
