<header class='top-page-header'>
  <h1 class='top-logo'>Wireless.com</h1>
  <div class='sign-btn'>
    新規登録/ログイン
  </div>
</header>

<body class='top-page-body'>
</body>

<footer class='top-page-footer'>
</footer>