.review-body {
  margin: 100px;
}

.item-name-parent {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.product-name {
  margin-right: 20px;
}

.reviewer-parent {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.reviewer {
  margin-right: 20px;
}

.point-parent {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.point-name {
  margin-right: 20px;
}

.review-title-parent {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.review-text-parent {
  text-align: center;
}

.text-form-with {
  width: 1000px;
  height: 500px;
}

.submit {
  text-align: right;
}

.submit-btn {
  margin-right: 440px;
}